[submodule "extension_node"]
	path = extension_node
	url = https://github.com/eieioF11/extension_node.git
[submodule "data_logger"]
	path = data_logger
	url = https://github.com/eieioF11/data_logger.git
[submodule "common_utils/include/common_utils"]
	path = common_utils/include/common_utils
	url = https://github.com/eieioF11/common_utils.git
