[submodule "extension_node"]
	path = extension_node
	url = https://github.com/eieioF11/extension_node.git
[submodule "extension_ament"]
	path = extension_ament
	url = https://github.com/eieioF11/extension_ament.git
